<ul style="display: inline; background-color: #CCC; width: 100%;">
  <li style="display: inline;"><%= link_to 'Home', root_path %></li>
  <li style="display: inline;"><%= link_to 'Wikis', wikis_path %></li>
  <li style="display: inline;"><%= link_to 'Clusters', clusters_path %></li>
</ul>
