<div class="row pad-below">
  <h1>About</h1>
  <hr />
  <div class="col-md-8">
    <p>
      This is the working site for the <a href="http://www.cs.utah.edu/~jeffp/teaching/cs5140.html">CS 5140 Data Mining</a>
      <a href="http://www.cs.utah.edu/~jeffp/teaching/cs5140/project.pdf">final project</a> at The University of Utah. We
      are analyzing Wikipedia page view statistics and are building an interactive site with a series of graphs and charts
      the help visualize this massive collection of data. We soon hope to have the site up and running with AWS
      <a href="#">here</a>. This project is also open sourced on
      <a href="http://github.com/nataliemcmullen/wikiminey">GitHub</a>.
    </p>
  </div>
</div>

<div class="pad-below">
  <div class="row pad-below">
    <h3>Authors</h3>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <a href="http://eng.utah.edu/~mcmullen"><img src="/assets/nat.png" alt="Natalie" width=200 /></a><br />
        <a href="http://eng.utah.edu/~mcmullen">Natalie McMullen</a>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <a href="http://samolds.com"><img src="/assets/sam.png" alt="Sam" width=200 /></a><br />
        <a href="http://samolds.com">Sam Olds</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h3>Reviews</h3>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <blockquote>
        <p>No Results for WikiMiney... Check the spelling or try alternate spellings.</p>
        <footer>Yelp</footer>
      </blockquote>
    </div>
    <div class="col-md-4">
      <blockquote>
        <p>Did you mean:  wikimini   wikiminer   wiki money   wiki mine</p>
        <footer>Google</footer>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <blockquote>
        <p>An interactive... WikiMiney.</p>
        <footer>Natalie McMullen</footer>
      </blockquote>
    </div>
  </div>
</div>
