<script>
getCluster();
</script>

<h1>Cluster</h1>
<hr />

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="gray-back">
      <div id="cluster" class="cluster-graph">
        <img src="/assets/loading.gif" class="pull-right" />
      </div>
    </div>
  </div>
</div>
