<script>
getCluster();
</script>

<h1>Cluster</h1>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="gray-back">
      <div id="cluster" class="cust-graph"></div>
    </div>
  </div>
</div>
