<h1>Footnote</h1>
<h5>All of the things about this project that might need some explaining.<h5>
<hr />


Add stuff from Readme, Todo, User Guide... all .md files on github

<%= $special_exclude_list %>
