<h1>Footnote</h1>
<h5>All of the things about this project that might need some explaining.<h5>
<hr />

<div class="row pad-below">
  <div class="col-md-8">
    <p>
      The most important note is that when this project began, we were working with 1.3TB. A lot of data has since
      been stripped out to make this manageable. Unfortunately, this means many of the graphs look incomplete
      because some of the data got stripped away. We tried to only remove data for pages with small numbers of views
      so that only the obscure and unpopular pages were removed, but this appears to not be true in all cases.
    </p>
  </div>
</div>

<h3>Data Download</h3>
<div class="row pad-below">
  <div class="col-md-8">
    <p>
      There were a handful of scripts written to download the data, process it, strip it down,
      and get it into a manageable format to work with this app. The data all came from the 
      <a href="http://dumps.wikimedia.org/other/pagecounts-raw">Wikimedia Dumps</a>. More information
      can be found <a href="http://wikitech.wikimedia.org/wiki/Analytics/Data/Pagecounts-raw">here</a>.
      We selected six months to process October, November, and December of 2008 and 2012.
    </p>
    <p>
      Processing all of the data has taken enormous effort. We currently have a directory of preprocessed data
      sitting in a directory on AWS.
    </p>
    <p>
      Follow instructions in <a href="http://github.com/nataliemcmullen/WikiMiney/blob/master/DATA_DL.md">Data Download</a>.
      This will take a LONG time to get actual data.
    </p>
  </div>
</div>


<h3>Overview of Data Processing</h3>
<ul class="pad-below">
  <li>Data downloaded in its entirety</li>
  <li>Data uncompressed of the gzip format</li>
  <li>Data stripped of everything except for English projects</li>
  <li>Data aggregated from hourly files to daily files</li>
  <li>Data stripped of everything with less than 20 views per day</li>
  <li>Data aggregated to additional monthly file</li>
  <li>Data stripped of everything with less than 5000 views</li>
  <li>Final data files added to ready-for-db/ directories for each month</li>
  <li class="list-unstyled"><small>Note: This will seriously take weeks and about 1.3TB, initially. Be prepared.</small></li>
</ul>


<h3>General Site Notes</h3>
<div class="row pad-below">
  <div class="col-md-8">
    <ul>
      <li>There are only 6 months of data being looked at total</li>
      <li>Anywhere that says "All Views from 20xx" is only accounting for the months of October, November, and December</li>
      <li>Only pages that have more than 5000 views in a day are available in our database. This was done to reduce the data to a manageable size.</li>
      <li>Below is a list of all of the page names that are currently being excluded from any json response</li>
    </ul>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <%= select_tag "excludes", options_for_select($special_exclude_list), { :class => 'form-control' } %>
      </div>
    </div>

  </div>
</div>
