<script>
getIndex(2008, 25);
getIndex(2012, 25);
</script>


<div class="row">
  <h1>Welcome</h1>
  <hr />
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="gray-back">
      <div id="histogram-2008" class="cust-graph">
        <img src="/assets/loading.gif" class="pull-right" />
      </div>
      <hr />
      <div id="histogram-2012" class="cust-graph">
        <img src="/assets/loading.gif" class="pull-right" />
      </div>
    </div>
  </div>
</div>
