<script>
getMobile();
</script>

<h1>Progression of Mobile Use</h1>
<div class="col-md-2"></div>
<div class="col-md-10">
  <div class="gray-back">
    <div id="mobile" class="cust-graph"></div>
  </div>
</div>
