<script>
getMobile();
</script>

<h1>Progression of Mobile Use</h1>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="gray-back">
      <div id="mobile" class="cust-graph"></div>
    </div>
  </div>
</div>
