<h1>Poster</h1>
<hr />

<div class="row pad-below">
  <div class="col-md-6">
    <div class="gray-back">
      <h4>Top Histogram 12/2008</h4>
      <a href="/top"><img src="/assets/top-histogram.png" width=100% class="pad-below" /></a>
      <p>
 In this experiment we sought to see trends in our data and if certain current events caused spikes in page views. In order to do this we displayed the top 50 pages for each month and a breakdown of how viewership of those pages changed over time. As presented above it is clear to see that Wikipedia page viewership was drastically affected by current events (Ponzi Scheme, Twilight, Facebook). It is encouraging to see that people turn to sources like Wikipedia to become informed about what is happening in the world.
      </p>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <div class="gray-back">
      <h4>Top Regression 12/2008</h4>
      <a href="/top"><img src="/assets/top-regression.png" width=100% class="pad-below" /></a>
      <p>
        An approach we tried was Linear Regression in order to relate the byte size and page views and see if we could possibly ‘predict’ whether page size indicated how many views it would receive. The reasoning behind this was the assumption that a page would not be very large (in bytes) if it had a low number of views. The larger, more complete pages would have more interest. We wanted to see whether byte size (independent variable) was similar to page views (dependent). While we were not able to correlate the two variables to be dependent on each other the results are interesting to see from month to month. The main takeaway from the regression is that sometimes as page size increases so does page views but that is not always the case.
      </p>
    </div>
  </div>
</div>

<div class="row pad-below">
  <div class="col-md-6">
    <div class="gray-back">
      <h4>25 Most Viewed Pages in 2008</h4>
      <a href="/"><img src="/assets/index-top2008.png" width=100% class="pad-below" /></a>
      <p>
        Blurp blurp blurp blurp blurp
        Description/Analysis
      </p>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <div class="gray-back">
      <h4>Myspace Views in 2008</h4>
      <a href="/"><img src="/assets/index-myspace.png" width=100% class="pad-below" /></a>
      <p>
        Blurp blurp blurp blurp blurp
        Description/Analysis
      </p>
      <small>* Note: Wikipedia appears to have gone down for part of 10/21/2008 and 10/22/2008</small>
    </div>
  </div>
</div>

<div class="row pad-below">
  <div class="col-md-6">
    <div class="gray-back">
      <!-- Compare of Obama and Socialism for 11/2008 -->
      <!-- Screenshot here linked to actual page -->
      <p>
        <!-- Description/Analysis -->
      </p>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <div class="gray-back">
      <!-- Compare Felix Baumgartner 10/2008 with Felix Baumgartner 10/2012 -->
      <!-- Screenshot here linked to actual page -->
      <p>
        <!-- Description/Analysis -->
      </p>
    </div>
  </div>
</div>

<div class="row pad-below">
  <div class="col-md-6">
    <div class="gray-back">
      <h4>Cluster 10/2008</h4>
      <a href="/cluster"><img src="/assets/cluster.png" width=100% class="pad-below" /></a>
      <p>
        We had two key metrics available for use in clustering: page views and size. We sought to take the data and determine whether a larger page size indicated a larger viewership, or if there was any sort of relationship. The results of the clustering experiment were not very useful. The most interesting result from clustering the data was that there tended to be an enormous number of small pages with low views. The larger page sizes still tended to be viewed a low number of times. This also indicated that the great majority of our data has low page views. On a data set of this size, clustering was not the ideal analysis tool. 
      </p>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <div class="gray-back">
      <h4>Mobile Usage</h4>
      <a href="/mobile"><img src="/assets/mobile.png" width=100% class="pad-below" /></a>
      <p>
        Blurp blurp blurp blurp blurp
        Description/Analysis
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="gray-back">
      <!-- No Screenshot? Just further analysis of overall project? -->
      <!-- Screenshot here linked to actual page -->
      <p>
        <!-- Description/Analysis -->
      </p>
    </div>
  </div>
</div>
