<h1>Poster</h1>
<hr />

<div class="row pad-below">
  <div class="col-md-6">
    <div class="gray-back">
      <!-- Top Histogram 11/2012 -->
      <!-- Screenshot here linked to actual page -->
      <p>
        <!-- Description/Analysis -->
      </p>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <div class="gray-back">
      <!-- Top Regression 11/2012 -->
      <!-- Screenshot here linked to actual page -->
      <p>
        <!-- Description/Analysis -->
      </p>
    </div>
  </div>
</div>

<div class="row pad-below">
  <div class="col-md-6">
    <div class="gray-back">
      <!-- Compare of Obama and Socialism for 11/2008 -->
      <!-- Screenshot here linked to actual page -->
      <p>
        <!-- Description/Analysis -->
      </p>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <div class="gray-back">
      <!-- Compare Felix Baumgartner 10/2008 with Felix Baumgartner 10/2012 -->
      <!-- Screenshot here linked to actual page -->
      <p>
        <!-- Description/Analysis -->
      </p>
    </div>
  </div>
</div>

<div class="row pad-below">
  <div class="col-md-6">
    <div class="gray-back">
      <!-- Cluster for 10/2008 -->
      <!-- Screenshot here linked to actual page -->
      <p>
        <!-- Description/Analysis -->
      </p>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <div class="gray-back">
      <!-- Progression of Mobile -->
      <!-- Screenshot here linked to actual page -->
      <p>
        <!-- Description/Analysis -->
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="gray-back">
      <!-- No Screenshot? Just further analysis of overall project? -->
      <!-- Screenshot here linked to actual page -->
      <p>
        <!-- Description/Analysis -->
      </p>
    </div>
  </div>
</div>
