

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


<link href='http://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>
<style>customy { font-family: 'Muli', sans-serif; size: 15px; }</style>
<script>
function getData() {
  var month = document.getElementById("month-value").value;
  var year = document.getElementById("year-value").value;
  var pages = document.getElementById("pages-value").value;

  if (parseInt(month) && parseInt(year) && parseInt(pages)) {
    getTop(month, year, pages);
  }
}

getTop(10, 2008, 10);
</script>



<h1>Top</h1>
<hr />

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 form-group">
    <label class="col-sm-1 control-label">Month</label>
    <%= select_tag "month-value", options_for_select(@months), { :class => 'form-control' } %>
  </div>
  <div class="col-md-2 form-group">
    <label class="col-sm-1 control-label">Year</label>
    <%= select_tag "year-value", options_for_select(@years), { :class => 'form-control' } %>
  </div>
  <div class="col-md-2 form-group">
    <label class="col-sm-1 control-label">Pages</label>
    <input id="pages-value" type="text" class="form-control" placeholder="10">
  </div>
  <div class="col-md-1 form-group">
    <label class="col-sm-1 control-label">&nbsp;</label>
    <button type="submit" class="btn btn-default form-control" onClick="getData()">Go!</button>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="pad-below">
      <div class="gray-back">
        <div id="histogram" class="cust-graph"></div>
        <hr />
        <div id="regression" class="cust-graph"></div>
      </div>
    </div>
  </div>
</div>
