<script>
getTop(10, 2008, 10);
</script>



<h1>Top</h1>
<hr />

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 form-group">
    <label class="col-sm-1 control-label">Month</label>
    <%= select_tag "month-value", options_for_select(@months), { :class => 'form-control' } %>
  </div>
  <div class="col-md-2 form-group">
    <label class="col-sm-1 control-label">Year</label>
    <%= select_tag "year-value", options_for_select(@years), { :class => 'form-control' } %>
  </div>
  <div class="col-md-2 form-group">
    <label class="col-sm-1 control-label">Pages</label>
    <input id="pages-value" type="text" class="form-control" value="10">
  </div>
  <div class="col-md-1 form-group">
    <label class="col-sm-1 control-label">&nbsp;</label>
    <button type="submit" class="btn btn-default form-control" onClick="getData()">Go!</button>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="pad-below">
      <div class="gray-back">
        <div id="histogram" class="cust-graph">
          <img src="/assets/loading.gif" class="pull-right" />
        </div>
        <hr />
        <div id="regression" class="cust-graph"></div>
      </div>
    </div>
  </div>
</div>
