<h1>Listing Wikis</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Page</th>
  </tr>
 
  <% @wikis.each do |wiki| %>
    <tr>
      <td><%= wiki.project %></td>
      <td><%= link_to wiki.page, wiki_path(wiki) %></td>
    </tr>
  <% end %>
</table>
